
{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block title %}
    INFOS - Votre Application
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Nombre de véhicules</h5>
        <p class="card-text">{{ nombre_vehicules }}</p>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Nombre de conducteurs</h5>
        <p class="card-text">{{ nombre_conducteurs }}</p>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Depenses total</h5>
        <p class="card-text">{{ depenses }}</p>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Revenues total</h5>
        <p class="card-text">{{ revenues }}</p>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Montant total versé par conducteur</h5>
        <ul class="list-group list-group-flush">
            {% for conducteur, montant in montant_total_par_conducteur.items %}
            <li class="list-group-item">{{ conducteur }}: {{ montant }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}